{% extends 'base/base.html' %}
{% block content %}

<div class="container">
{% if request.user.pk == question.user_id %}
    <h1>Edit {{ request.user.username }} question</h1>
    <div class="items-container">

        <div class="item">
            <form method="POST" action="{% url 'question edit' q_id=question.pk%}">
                {{ form }}
                <button type="submit">Edit</button>
                {% csrf_token %}
                <h2><a href="{% url 'question add' pk=request.user.pk %}">Add</a></h2>
            </form>
        </div>

    </div>
{% else %}
     <h1>Permission denied!</h1>
{% endif %}
</div>
{% endblock %}